<div class="container">
  <div class="row">
    <div class="col-sm-4 firstLine">
      <hr class="hr">
      <span class="bn">8:00</span>
      <span class="sn">8:30</span>
      <hr class="hr">
      <span class="bn">9:00</span>
      <span class="sn">9:30</span>
      <hr class="hr">
      <span class="bn">10:00</span>
      <span class="sn">10:30</span>
      <hr class="hr">
      <span class="bn">11:00</span>
      <span class="sn">11:30</span>
      <hr class="hr">
      <span class="bn">12:00</span>
      <span class="sn">12:30</span>
    </div>
    <div class="col-sm-4 secondLine">
      <hr class="hr">
      <span class="bn">1:00</span>
      <span class="sn">1:30</span>
      <hr class="hr">
      <span class="bn">2:00</span>
      <span class="sn">2:30</span>
      <hr class="hr">
      <span class="bn">3:00</span>
      <span class="sn">3:30</span>
      <hr class="hr">
      <span class="bn">4:00</span>
      <span class="sn">4:30</span>
      <hr class="hr">
      <span class="bn">5:00</span>
    </div>
    <div class="col-sm-4">
      <form>
        <div class="form-group">
          <label for="InputTitle">Title</label>
          <input type="Title" class="form-control" id="InputTitle" placeholder="Title">
        </div>
        <div class="row">
          <div class="col-xs-4">start at
            <input type="text" class="form-control" placeholder="00:00">
          </div>
          <div class="col-xs-4">duration
            <input type="text" class="form-control" placeholder="00">
          </div>

        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>

